
.controleDireito, .controleEsquerdo{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media (min-width: 0) {
    .controleEsquerdo {
        width: 50%;
        left: 0px;
        position: absolute;
        bottom: 100px;
    }
    .controleDireito {
        width: 50%;
        right: 0px;
        position: absolute;
        bottom: 100px;
    }
}

@media (max-width: 1000px) and (orientation:landscape) {
    .controleEsquerdo {
        width: 200px;
        left: 0px;
        position: absolute;
        bottom: 100px;
    }
    .controleDireito {
        width: 200px;
        right: 0px;
        position: absolute;
        bottom: 100px;
    }
}

@media (min-width: 1001px) {
    .controleEsquerdo {
        display: none;
    }
    .controleDireito {
        display: none;
    }
}